@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_BasicLayout";
}
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h3 text-gray-900 mb-4 font-italic">Create an Account!</h1>
                        </div>
                        <form class="user" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.FirstName" class="form-control form-control-user text-center" placeholder="First Name">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.LastName" class="form-control form-control-user text-center" placeholder="Last Name">
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="date" asp-for="Input.BirthDate" class="form-control rounded-pill text-center" placeholder="Birth Date">
                                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 h-100">
                                    <select asp-for="Input.GenderId" class="form-control rounded-pill custom-select myselect" required>
                                        <option value="" disabled selected>Select Sex</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                    <span asp-validation-for="Input.GenderId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.PhoneNumber" class="form-control form-control-user text-center" placeholder="Phone Number">
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Username" class="form-control form-control-user text-center" placeholder="Username">
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.Email" class="form-control form-control-user text-center" placeholder="Email Address">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Password" class="form-control form-control-user text-center" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user text-center" placeholder="Repeat Password">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" asp-page="./ForgotPassword">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" asp-page="./Login">Already have an account? Login!</a>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center h4">
                        <a class="small" asp-action="Index" asp-controller="Home">
                            <i class="fas fa-arrow-circle-left"></i>Back to home page
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
