@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    //var gender = Model.Input.Genders.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <img class="col-lg-5 d-none d-lg-block" style="background-position: center; background-size: cover;" src="https://scontent.fsof6-1.fna.fbcdn.net/v/t1.15752-9/120744205_342508240415243_1516323735056097198_n.png?_nc_cat=103&_nc_sid=ae9488&_nc_ohc=WVuE1uJohtMAX9KysEa&_nc_ht=scontent.fsof6-1.fna&oh=e14c9f16b694e03e08632e3c588ce7c1&oe=5F9E597E"></img>
                    <div class="col-lg-7">
                        <div class="p-4">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.FirstName" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.LastName" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.BirthDate" class="form-control form-control-user" id="exampleBirthDate" placeholder="Birth Date">
                                        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <select asp-for="Input.GenderId" class="form-control form-control-user" id="exampleGender">
                                            <option disabled selected>--- SELECT ---</option>
                                        </select>
                                        <span asp-validation-for="Input.GenderId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.PhoneNumber" class="form-control form-control-user" id="exampleInputPhoneNumber" placeholder="Phone Number">
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.Username" class="form-control form-control-user" id="exampleInputUsername" placeholder="Username">
                                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.Password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Register with Google
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-page="./ForgotPassword">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-page="./Login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
