@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_BasicLayout";
}
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.FirstName" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.LastName" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="date" asp-for="Input.BirthDate" class="form-control form-control-user" id="exampleBirthDate" placeholder="Birth Date">
                                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 h-100">
                                    <select asp-for="Input.GenderId" class="form-control form-control-user p-3 w-100 h-100" id="exampleGender">
                                        <option disabled selected>--- SELECT ---</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                    <span asp-validation-for="Input.GenderId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.PhoneNumber" class="form-control form-control-user" id="exampleInputPhoneNumber" placeholder="Phone Number">
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Username" class="form-control form-control-user" id="exampleInputUsername" placeholder="Username">
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.Email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Register with Google
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                    </a>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" asp-page="./ForgotPassword">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" asp-page="./Login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
