@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h3 text-gray-900 mb-4 font-italic">Reset your password!</h1>
                            </div>
                            <form class="user" id="account" method="post">
                                <input asp-for="Input.Code" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control form-control-user" id="exampleInputUsername" aria-describedby="UsernameHelp" placeholder="Username">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Reset
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" id="forgot-password" asp-page="./ForgotPassword">
                                    <i class="fas fa-arrow-circle-left"></i>Back to home page
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}