@{
    this.ViewData["Title"] = "Home Page";
}
@if (TempData.ContainsKey("Message"))
{
    var statusMessageClass = TempData["Message"].ToString().StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible fade show" role="alert">
        @TempData["Message"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}

<img class="rounded w-100" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607264070/HomePageLogo_qxwvlf.jpg" alt="First slide">

<div class="jumbotron bg-light">
    <h1 class="display-4 text-center font-weight-bold">Why choose My Hotel Manager? </h1>
    <div class="row mb-3">
        <div class="col-md-6 p-3">
            <p class="lead text-justify font-italic">Finding the perfect software for every hotel is especially important. Without a suitable solution, the business might suffer eventual losses.</p>
            <p class="lead text-justify font-italic">My Hotel Manager is the best partner to each hotel management team. It is the newest software program for small and big hotels from every part of the world. You can enjoy it’s simple and modern design while working with it. The program is suitable for everyone and everyone can easily learn how to work with it.</p>
        </div>
        <hr class="my-4">
        <div class="col-md-6 p-3">
            <p class="lead text-justify font-italic">My Hotel Manager is suitable for both computers and mobile devices, and it offers amazing features – creating, updating and deleting reservations fast and easy, keeping track of the hotel’s capacity, modifying room information, preparing a daily list with breakfasts, lunches and dinners automatically, different roles and rights and many, many more!</p>
            <p class="lead text-justify font-italic">We promise that your expectations will be fulfilled! </p>
        </div>
    </div>
    
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">See it for yourself</a>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide bg-gradient-primary rounded" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <img class="rounded w-75" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607262199/HotelDashbord_fbu3j8.png" alt="First slide">
        </div>
        <div class="carousel-item text-center">
            <img class="rounded w-75" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607262199/NewReservation_fjyoh7.png" alt="Second slide">
        </div>
        <div class="carousel-item text-center">
            <img class="rounded w-75" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607262199/ReservationMenage_cdhm3g.png" alt="Third slide">
        </div>
        <div class="carousel-item text-center">
            <img class="rounded w-75" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607262199/ReservationInfo_ocnm5u.png" alt="First slide">
        </div>
        <div class="carousel-item text-center">
            <img class="rounded w-75" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607262198/RestaurantList_hpcnrq.png" alt="Second slide">
        </div>
        <div class="carousel-item text-center">
            <img class="rounded w-75" src="https://res.cloudinary.com/shaddowmike/image/upload/q_100/v1607262198/UserRole_izcry5.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>