@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="container">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card o-hidden border-0 shadow-lg my-5 bg-gradient-primary">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="p-4">
                            <div class="text-center">
                                <h1 class="h3 mb-4 font-italic text-white-50">Change Password</h1>
                            </div>
                            <form class="user text-center text-white-50" method="post">
                                <div class="form-group was-validated">
                                    <label asp-for="Input.OldPassword"></label>
                                    <input asp-for="Input.OldPassword" class="form-control form-control-user text-center" placeholder="Old Password" required>
                                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="Input.NewPassword"></label>
                                    <input asp-for="Input.NewPassword" class="form-control form-control-user text-center" placeholder="New Password" required>
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user text-center" placeholder="Confirm New Password" required>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-success btn-user btn-block">
                                    Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}