@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="container">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card o-hidden border-0 shadow-lg my-5 bg-gradient-primary">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="p-4">
                            <div class="text-center">
                                <h1 class="h3 mb-4 font-italic text-white-50">Profile</h1>
                            </div>
                            <form class="user text-center text-white-50" method="post">
                                <div class="form-group was-validated">
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control form-control-user text-center" disabled>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label asp-for="Input.FirstName"></label>
                                        <input asp-for="Input.FirstName" class="form-control form-control-user text-center" placeholder="First Name">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label asp-for="Input.LastName"></label>
                                        <input asp-for="Input.LastName" class="form-control form-control-user text-center" placeholder="Last Name">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="Input.GenderId"></label>
                                    <select asp-for="Input.GenderId" class="form-control rounded-pill custom-select myselect" required>
                                        <option disabled selected>Select Sex</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                    <span asp-validation-for="Input.GenderId" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label asp-for="Input.PhoneNumber"></label>
                                        <input asp-for="Input.PhoneNumber" class="form-control form-control-user text-center" placeholder="Hotel Address" required>
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label asp-for="Input.BirthDate"></label>
                                        <input type="date" asp-for="Input.BirthDate" class="form-control form-control-user text-center" placeholder="Hotel Address" required>
                                        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-success btn-user btn-block">
                                    Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}