@model MyHotelManager.Web.ViewModels.Guests.GuestUpdateInputModel

@{
    var cities = Model.Cities.Select(x => new SelectListItem(x.Name + " / " + x.Region, x.Id.ToString()));
    var countries = Model.Countries.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    this.ViewData["Title"] = "New Room";
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5 bg-gradient-primary">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="p-4">
                        <div class="text-center">
                            <h1 class="h3 mb-4 font-italic text-white-50">Edit Guest!</h1>
                        </div>
                        <form class="user" method="post">
                            <div class="form-group row was-validated text-center text-white-50">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control form-control-user is-invalid text-center" placeholder="First Name" required>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control form-control-user is-invalid text-center" placeholder="Last Name" required>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row was-validated text-center text-white-50 justify-content-center">
                                <div class="col-sm-6 text-center">
                                    <label asp-for="GenderId"></label>
                                    <select asp-for="GenderId" class="form-control rounded-pill custom-select" style="text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;" required>
                                        <option value="" disabled selected>Select Sex</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                    <span asp-validation-for="GenderId" class="text-danger mt-4"></span>
                                </div>
                            </div>

                            <div class="form-group was-validated text-center text-white-50">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control form-control-user text-center is-invalid" placeholder="Phone Number" minlength="10" required>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row text-center was-validated justify-content-center text-white-50">
                                <div class="col-sm-6 text-center">
                                    <label>Nationality</label>
                                    <select onchange="Nationality()" class="form-control rounded-pill custom-select" id="nationalitySelect" style="text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;" required>
                                        <option value="" disabled selected>Select Nationality</option>
                                        <option value="1">Bulgarian</option>
                                        <option value="2">Foreign</option>
                                    </select>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group row was-validated text-center text-white-50 justify-content-center">
                                <div class="col-sm-6 mb-3 mb-sm-0 text-center" hidden="" id="city">
                                    <label asp-for="CityId"></label>
                                    <select asp-for="CityId" asp-items="cities" onchange="editNationalityToBulgarian()" id="citySelect" class="form-control rounded-pill custom-select" style="text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;" required>
                                        <option value="" disabled selected>Select City</option>
                                    </select>
                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                </div>

                                <div class="col-sm-6 mb-3 mb-sm-0 text-center" hidden="" id="country">
                                    <label asp-for="CountryId"></label>
                                    <select asp-for="CountryId" asp-items="countries" onchange="editNationalityToForeign()" id="countrySelect" class="form-control rounded-pill custom-select" style="text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;" required>
                                        <option value="" disabled selected>Select Country</option>
                                    </select>
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row was-validated text-center text-white-50">
                                <div class="col-sm-6 mb-3 mb-sm-0 text-center" hidden="" id="UCN">
                                    <label asp-for="IdentificationNumber"></label>
                                    <input asp-for="IdentificationNumber" oninput="editNationalityToBulgarian()" id="UCNinput" class="form-control form-control-user is-invalid text-center" placeholder="UCN" required>
                                    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0 text-center" hidden="" id="PNF">
                                    <label asp-for="UniqueNumberForeigner"></label>
                                    <input asp-for="UniqueNumberForeigner" oninput="editNationalityToForeign()" id="PNFinput" class="form-control form-control-user is-invalid text-center" placeholder="PNF" required>
                                    <span asp-validation-for="UniqueNumberForeigner" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 text-center" id="documentNumber" hidden="">
                                    <label asp-for="DocumentNumber"></label>
                                    <input asp-for="DocumentNumber" class="form-control form-control-user is-invalid text-center" placeholder="Document Number" required>
                                    <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row was-validated text-center text-white-50" id="dateExpiryIssue" hidden="">
                                <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                                    <label asp-for="DateOfExpiry"></label>
                                    <input type="date" asp-for="DateOfExpiry" class="form-control form-control-user is-invalid text-center" placeholder="Date Of Expiry" required>
                                    <span asp-validation-for="DateOfExpiry" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <label asp-for="DateOfIssue"></label>
                                    <input type="date" asp-for="DateOfIssue" class="form-control form-control-user is-invalid text-center" placeholder="Date Of Issue" required>
                                    <span asp-validation-for="DateOfIssue" class="text-danger"></span>
                                </div>
                            </div>

                            <input asp-for="Id" hidden="" />
                            <input asp-for="ReservationId" hidden="" />
                            <button type="submit" class="btn btn-success btn-user btn-block">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/custom/Guest/NationalityFunction.js" asp-append-version="true"></script>
    <script src="~/js/custom/Guest/Update.js" asp-append-version="true"></script>
}
