@model  MyHotelManager.Web.ViewModels.Rooms.RoomForThePeriodInputModel

@{
    this.ViewData["Title"] = "Rooms";
    Layout = "_SelectedHotelLayout";
}

<div class="card-footer col">
    <h1 class="text-black-50 mb-5 text-center">Search free rooms</h1>
    <div class="media flex-wrap w-100 justify-content-center text-lg-center">
        <form asp-action="FreeForThePeriod" method="post" class="col-md-5 img-thumbnail">
            <div class="mt-2">
                <label asp-for="From"></label>
                <input type="date" asp-for="From" class="form-control mt-2" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>

            <div class="mt-2">
                <label asp-for="To"></label>
                <input type="date" asp-for="To" class="form-control mt-2" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>

            <hr class="mt-3" />
            <input type="submit" class="btn btn-success float-right mt-2" />
        </form>
    </div>
</div>