@model MyHotelManager.Web.ViewModels.Companies.CompanyCreateInputModel

@{
    this.ViewData["Title"] = "New Company";
}

@{
    var cities = Model.Cities.Select(x => new SelectListItem(x.Name + " / " + x.Region, x.Id.ToString()));
}

<h1 class="text-black-50 text-lg-center mt-5">Create New Company</h1>


    <div class="card-footer col mt-5">
        <div class="media flex-wrap w-100 justify-content-center text-lg-center">
            <form asp-action="Create" method="post" class="col-md-4 img-thumbnail">
                <div class="mt-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control mt-2" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="Bulstat"></label>
                    <input asp-for="Bulstat" class="form-control mt-2" />
                    <span asp-validation-for="Bulstat" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control mt-2" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control mt-2" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="CityId"></label>
                    <select asp-for="CityId" asp-items="cities" class="form-control mt-2">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control mt-2" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <hr class="mt-3" />
                <input type="submit" class="btn btn-success float-right mt-2" />
            </form>
        </div>
    </div>