@model MyHotelManager.Web.ViewModels.Companies.CompanyEditInputModel

@{
    var cities = Model.Cities.Select(x => new SelectListItem(x.Name + " / " + x.Region, x.Id.ToString()));
}

@{
    this.ViewData["Title"] = "New Hotel";
}
<div class="container">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card o-hidden border-0 shadow-lg my-5 bg-gradient-primary">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="p-4">
                            <div class="text-center">
                                <h1 class="h3 mb-4 font-italic text-white-50">Edit Company!</h1>
                            </div>
                            <form class="user text-center text-white-50" method="post">
                                <div class="form-group was-validated">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control form-control-user text-center" placeholder="Company Name" required>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="Bulstat"></label>
                                    <input asp-for="Bulstat" class="form-control form-control-user text-center" placeholder="Bulstat" required>
                                    <span asp-validation-for="Bulstat" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" class="form-control form-control-user text-center" placeholder="Company PhoneNumber" required>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control form-control-user text-center" placeholder="Company Email" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="CityId"></label>
                                    <select asp-for="CityId" asp-items="cities" class="form-control rounded-pill custom-select" style="text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;" required>
                                        <option value="" disabled selected>Select City</option>
                                    </select>
                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                </div>
                                <div class="form-group was-validated">
                                    <label asp-for="Address"></label>
                                    <input asp-for="Address" class="form-control form-control-user text-center" placeholder="Company Address" required>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-success btn-user btn-block">
                                    Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
