@using System.Linq
@model MyHotelManager.Web.ViewModels.Reservations.ReservationUpdateViewModel

@{
    this.ViewData["Title"] = "Update Reservation";
    var p = Model.ReturnDate - Model.ArrivalDate;
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="p-4">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Update Reservation!</h1>
                        </div>

                        <form class="user" method="post">
                            <div class="form-group row was-validated">
                                <div class="col-sm-5 mb-3 mb-sm-0 text-center">
                                    <label asp-for="ArrivalDate"></label>
                                    <input type="date" asp-for="ArrivalDate" class="form-control form-control-user is-invalid" placeholder="Arrival Date" id="arrivalDate-input" required>
                                    <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-5 mb-3 text-center">
                                    <label asp-for="ReturnDate"></label>
                                    <input type="date" asp-for="ReturnDate" class="form-control form-control-user is-invalid" placeholder="Return Date" id="returnDate-input" required>
                                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <label> Nights:</label>
                                    <input id="Nights" class="form-control form-control-user is-valid">
                                </div>
                            </div>
                            <div class="form-group row was-validated">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="GuestsReservations.First().Guest.FirstName" class="form-control form-control-user is-invalid" placeholder="First Name" required>
                                    <span asp-validation-for="GuestsReservations.First().Guest.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="GuestsReservations.First().Guest.LastName" class="form-control form-control-user is-invalid" placeholder="Last Name" required>
                                    <span asp-validation-for="GuestsReservations.First().Guest.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row was-validated">
                                <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                                    <input asp-for="AdultCount" class="form-control form-control-user is-invalid" placeholder="Adult Count" required>
                                    <span asp-validation-for="AdultCount" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <input asp-for="ChildCount" class="form-control form-control-user is-invalid" placeholder="Child Count" required>
                                    <span asp-validation-for="ChildCount" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row was-validated">
                                <div class="col-sm-4 mb-3 mb-sm-0 text-center">
                                    <input asp-for="Room.Number" class="form-control form-control-user" required>
                                    <span asp-validation-for="Room.Number" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0 text-center">
                                    <input asp-for="Room.Price" class="form-control form-control-user" id="price-input" disabled="" required>
                                    <span asp-validation-for="Room.Price" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <input id="Price" class="form-control form-control-user is-valid" disabled="">
                                </div>
                            </div>

                            <div class="form-group was-validated">
                                <textarea asp-for="Description" class="form-control" placeholder="Description" maxlength="200"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-success btn-user btn-block" asp-route="@Model.Room.Id">
                                Create Reservation
                            </button>
                        </form>
                        <button class="btn btn-success btn-user btn-block" id="button1">
                            Calculate
                        </button>
                        <div id="div1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>