[*.cs]

# EF1001: Internal EF Core API usage.
dotnet_diagnostic.EF1001.severity = silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = silent

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = silent

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:silent

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = silent

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.MaintainabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = silent

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = silent

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = silent

# IDE0037: Use inferred member name
dotnet_style_prefer_inferred_anonymous_type_member_names = true:silent

# IDE0037: Use inferred member name
dotnet_style_prefer_inferred_tuple_names = true:silent

# IDE0054: Use compound assignment
dotnet_style_prefer_compound_assignment = true:silent

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = silent
