@model IEnumerable<MyHotelManager.Web.ViewModels.Hotels.HotelViewModel>

@{
    this.ViewData["Title"] = "My Hotels";
}

<a type="button" class="btn btn-outline-success btn-lg float-left" asp-controller="Companies" asp-action="Create">Create New Company</a>
<a type="button" class="btn btn-outline-success btn-lg float-right" asp-controller="Hotels" asp-action="Create">Create New Hotel</a>


<div class="row row-cols-1 row-cols-md-4 float-lg-left mt-4 p-4">
    @{
        foreach (var hotel in Model)
        {
            <div class="col mb-4">
                <div class="card">
                    <a a asp-controller="Hotels" asp-action="ById" asp-route-id="@hotel.Id">
                        @{
                            if (hotel.ImgUrl == null)
                            {
                                <img src="https://thumbnails.trvl-media.com/YOqD-Gvi3gJx1eOr66GHoy2X48E=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/23000000/22890000/22882300/22882236/31e6e20e_z.jpg" class="card-img-top" alt="...">
                            }
                            else
                            {
                                <img src="@hotel.ImgUrl" class="card-img-top" alt="...">
                            }
                        }
                    </a>

                    <div class="card-body">
                        <h5 class="card-title text-center">@hotel.Name</h5>
                        <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>

                </div>
            </div>
        }
    }
</div>